html {
    font-family: "Roboto", sans-serif;
}
header {
    display: block;
    height: 75px;
    background-color: #aaaaaa;
    padding: 0%;
    margin: 0%;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}
header div {
    width: 20%;
    float: left;
    background-color: #bbbbbb;
    height: 75px;
    text-align: center;
    border-right: 1px solid #444444;
}
header a {
    display: contents;
}
header div p {
    height: 35px;
    margin: 20px 0px;
    font-size: 24px;
    font-weight: bold;
}
footer {
    display: block;
}
body {
    margin: 0%;
}
main {
    margin: 75px 8px;
    position: absolute;
    width: -webkit-fill-available;
}
#content {
    margin: 0;
    min-height: 500px;
    padding: 0px 5%;
}
#books-showcase-container {
    border: 1px solid black;
    padding: 5px 1%;
}
.book-container {
    border: 1px solid black;
    width: 32.3%;
    margin: 0px 0.5%;
    display: inline-block;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.book-image-container {
    display: block;
    background-image: url("../assets/images/book.png"), linear-gradient(#dbdf20, #e78516);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 65%;
}
.book-title {
    font-size: 22px;
}
.book-author {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}
.book-container button {
    border: 1px solid #aaaaaa;
    border-radius: 0%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    width: 25%;
}
.loan-book-button {
    cursor: pointer;
}
.return-book-button {
    cursor: pointer;
}